<h1>
  Add a new match
</h1>


<hr>

<!-- Form match start -->
<form action="/create_match" method="post">
<!-- Form match end -->

  <!-- Label and input for date start -->
  <div class="form-group">
    <label for="date">
      Date
    </label>

    <!-- Input for date start -->
    <input type="text" id="date" name="date" class="form-control">
    <!-- Input for date end -->
  </div>
  <!-- Label and input for date end -->

  <!-- Label and input for start_time start -->
  <div class="form-group">
    <label for="start_time">
      Start time
    </label>

    <!-- Input for start_time start -->
    <input type="text" id="start_time" name="start_time" class="form-control">
    <!-- Input for start_time end -->
  </div>
  <!-- Label and input for start_time end -->

  <!-- Label and input for end_time start -->
  <div class="form-group">
    <label for="end_time">
      End time
    </label>

    <!-- Input for end_time start -->
    <input type="text" id="end_time" name="end_time" class="form-control">
    <!-- Input for end_time end -->
  </div>
  <!-- Label and input for end_time end -->

  <!-- Label and input for state_id start -->
  <div class="form-group">
    <label for="state_id">
      State
    </label>

    <!-- Input for state_id start -->
    <input type="text" id="state_id" name="state_id" class="form-control">
    <!-- Input for state_id end -->
  </div>
  <!-- Label and input for state_id end -->

  <!-- Label and input for sender_slot_id start -->
  <div class="form-group">
    <label for="sender_slot_id">
      Sender slot
    </label>

    <!-- Input for sender_slot_id start -->
    <%= select_tag(:sender_slot_id, options_from_collection_for_select(Slot.all, :id, :user_id, @match.sender_slot_id), :class => "form-control") %>
    <!-- Input for sender_slot_id end -->
  </div>
  <!-- Label and input for sender_slot_id end -->

  <!-- Label and input for recipient_slot_id start -->
  <div class="form-group">
    <label for="recipient_slot_id">
      Recipient slot
    </label>

    <!-- Input for recipient_slot_id start -->
    <%= select_tag(:recipient_slot_id, options_from_collection_for_select(Slot.all, :id, :user_id, @match.recipient_slot_id), :class => "form-control") %>
    <!-- Input for recipient_slot_id end -->
  </div>
  <!-- Label and input for recipient_slot_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create match
  </button>
</form>

<hr>

<a href="/matches">
  Go back
</a>
