<h1>Product management practice </h1>

<p>Looking to practice your product management interviewing skills?</p>
<p>Then you've come to the right place!</p>
<p></p>

<p>Use this online platform to connect with people from around the world who are looking to learn and help others learn the ins-and-outs of product management interviews</p>

<p><strong>How to make use of the platform?</strong></p>

<ol>
    <li> Visit your <a href="/slots">slots</a> page and log in your availabilities for the next 3 months </li>
    <li> Check for any potential <a href="/matches">matches</a> with others </li>
    <li> Coordinate with others using the comments section of the match, exchange emails and set up a time to talk!</li>
</ol>

<p><strong>Some important notes to keep in mind</strong></p>

<ul>
    <li>Slots must be at least 2 hours long, to ensure ample time for your partner to interview you as well as for you to interview your partner</li>
    <li>The slot time picker takes in UTC times - please use the provided "Get Timzeone conversion" button if you are unsure how to convert to UTC time</li>
    <li>The slot list shows your slots in your preferred timezone</li>
</ul>